body{
    background-color: rgb(54, 54, 54);
}

.div1 {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 250px;
    width: 98.50%;
    top: 25%;
}

.div2 {
    display: flex;
    background-color: rgb(77, 77, 77);
    width: 10%;
    align-self: center;
    justify-content: space-around;
}

.div3 {
    position: absolute;
    display: flex;
    background-color: rgb(77, 77, 77);
    align-self: center;
    bottom: 40.5%;
    width: 10%;
    justify-content: space-around;
}